<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HS_DIR" value="C:\Hyperspin"/>
    <add key="ROMS_DIR" value="C:\Hyperspin\ROMs"/>
    <add key="MEDIA_DIR" value="C:\Hyperspin\Media"/>
    <add key="VIDEO_EXT" value="flv"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
